* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container-users {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 50%;
  background-color: aqua;
}
.usuario {
  height: 100%;
  display: flex;
  align-items: center;
  width: 20%;
  background-color: rgb(26, 204, 23);
}
.usuario img {
  border-radius: 100%;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
