* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
.container-users{
    width: 85%;
    height: 50%;
    background-color: aqua;
}
.container-users img{
    border-radius: 100%;
    width: 20%;
    object-fit: cover;
}