* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
p{
  color: white;
  font-size: 4rem;
}
.container-users {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 50%;
  gap: 3vw;
  /* background-color: aqua; */
}
.usuario {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 90%;
  /* background-color: rgb(26, 204, 23); */
}
.usuario:hover{
  border: 3px white solid;
  border-radius: 3px;
}
.usuario img {
  /* border-radius: 100%; */
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.info-user{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* background-color: rgb(194, 37, 37); */
}
.info-user p{
  font-size: 2.5rem;
  color: white;
}
