main {
  background-image: url(./img/what-zap-bg.jpg);
  width: 100%;
  height: 100%;
}
.caixa-menssagem{
  background-color: aqua;
}

.messagens {
  height: 93%;
  /* background-color: aqua; */
  width: 100%;
}

.box-text {
  height: 7%;
  width: 100%;
  background-color: white;
}