main {
  background-image: url(./img/what-zap-bg.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messagens {
  height: 93%;
  /* background-color: aqua; */
  width: 100%;
}

.box-text {
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 1.5rem;
  padding-inline: 20px;
}
.caixa-menssagem{
  width: 90%;
  height: 70%;
  /* background-color: aqua; */
}
.icon-b{
  font-size: 1.8rem;
  color:rgb(81, 81, 81) ;
}

.contato{
  height: 100px;
  background-color: #fff;
  width: 100%;
}
.card-contato{
  width: 100%;
  height: 80px;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
}
.info-contato-p {
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.info-contato-p .name-perfil span{
  font-size: 1.5rem;
}
.icons-contato{
  width: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.icon-pc{
  font-size: 1.5rem;
}

.messagens{
  
}