main {
  background-image: url(./img/what-zap-bg.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messagens {
  height: 89%;
  display: flex;
  align-items: end;
  justify-content: center;
  /* background-color: aqua; */
  width: 100%;
}

.box-text {
  height: 6%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 1.5rem;
  padding-inline: 20px;
}

.caixa-menssagem {
  width: 90%;
  height: 80%;
  /* background-color: aqua; */
}

.icon-b {
  font-size: 1.3rem;
  color: rgb(81, 81, 81);
}

.contato {
  height: 70px;
  background-color: #fff;
  width: 100%;
}

.card-contato {
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
}

.info-contato-p {
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.info-contato-p .name-perfil span {
  font-size: 1.5rem;
}

.icons-contato {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.icon-pc {
  font-size: 1.3rem;
}


.caixa-contato {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* background-color: aqua; */
}

.container-user {
  width: 100%;
  padding: 10px;
  /* background-color: rgb(10, 92, 10); */
  height: auto;
}

.mensagem-usuario {
  height: auto;
  background-color: #4f8b33;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.container-contato {
  display: flex;
  padding: 10px;
  justify-content: end;

  /* background-color: aqua; */
  width: 100%;
  align-items: center;
  height: auto;
}

.mensagem-contato {
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.mensagem-usuario p {
  word-wrap: break-word;
}

.mensagem-contato p {
  word-wrap: break-word;
}

.horario {
  display: flex;
  justify-content: end;
}