.menu {
  /* background-color: aquamarine; */
  width: 30%;
  height: 100vh;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-bottom: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  ;
}

header {
  height: 120px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.icon-zap {
  height: 60px;
  padding-block: 0px;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon-zap img {
  width: 6%;
}

.name {
  width: 20%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #797676;
  background-color: aliceblue;
}

.user {
  display: flex;
  padding-inline: 1vw;
  align-items: center;
  justify-content: space-between;
}

.user .icon-e {
  font-size: 1.3rem;
}

.chats {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 20px;
  flex-direction: row;
}

.box-chats {
  height: 50px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: aliceblue;
}

.box-chats:hover {
  box-shadow: 0 0 5px #000000;
}

.user .icon-w {
  font-size: 3rem;
  transition: 1s ease;
}

.user .icon-w:hover {
  color: #606162;
}

.pesquisa {
  background-color: rgb(254, 255, 255);
  width: 100%;
  height: 30px;
  position: relative;
}

.pesquisa::after {
  content: " ";
  width: 100%;
  height: 3px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input-box {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;

}

.input-box i {
  position: absolute;
  padding-left: 93%;
  top: 50%;
  transform: translateY(-50%);
}

.input-box input {
  background-color: transparent;
  height: 100%;
  all: unset;
  width: 100%;
}

.pesquisa:has(input:focus) {
  border-inline: 1px solid rgb(0, 0, 0, 0.4);
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  box-shadow:0 0 1px rgb(0, 0, 0, 0.4) ;
}

.perfis {
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
  flex-direction: column;
}

.card {
  width: 100%;
  height: 80px;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
}

.card:hover {
  border-radius: 10px;
  background-color: aliceblue;
}

.img-perfil {
  height: 100%;
  display: flex;
  padding-inline: 5px;
  align-items: center;
  width: auto;
}

.img-perfil img {
  border-radius: 80%;
  width: 70px;
  object-fit: cover;
  height: 70px;
}

.info-contato {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-perfil {
  height: auto;
  display: flex;
  padding-inline: 5px;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.name-perfil span {
  font-size: 1.3rem;
}

.status {
  height: 100%;
  display: flex;
  padding-inline: 5px;
  align-items: end;
  width: 100%;
}