.menu {
  /* background-color: aquamarine; */
  width: 40%;
  height: 100vh;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-bottom: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

header {
  height: 120px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.icon-zap {
  height: 60px;
  padding-block: 0px;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon-zap img {
  width: 8%;
}

.name {
  width: 20%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #797676;
  background-color: aliceblue;
}

.user {
  display: flex;
  padding-inline: 1vw;
  align-items: center;
  justify-content: space-between;
}

.user .icon-e {
  font-size: 1.6rem;
}

.chats {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 20px;
  flex-direction: row;
}

.box-chats {
  height: 40px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: aliceblue;
}

.box-chats:hover {
  box-shadow: 0 0 5px #000000;
}

.user .icon-w {
  font-size: 3.3rem;
  color: rgb(187, 187, 187);
  transition: 1s all;
}

.user .icon-w:hover {
  cursor: pointer;
  color: rgb(49, 179, 49);
}

.pesquisa {
  background-color: rgb(254, 255, 255);
  width: 100%;
  height: 50px;
  position: relative;
}

.pesquisa::after {
  content: " ";
  width: 100%;
  height: 3px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input-box {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
}

.input-box i {
  position: absolute;
  margin-left: 93%;
  top: 50%;
  transform: translateY(-50%);
}

.input-box .icon {
  font-size: 1.3rem;
}

.input-box input {
  background-color: transparent;
  height: 100%;
  all: unset;
  font-size: 1.3rem;
  width: 100%;
}

.perfis {
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
  flex-direction: column;
}
.card {
  width: 100%;
  height: 100px;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
}
.card p {
  font-size: 1.2rem;
}

.card:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: aliceblue;
}

.img-perfil {
  height: 100%;
  display: flex;
  padding-inline: 5px;
  align-items: center;
  width: auto;
}

.img-perfil img {
  border-radius: 80%;
  width: 75px;
  object-fit: cover;
  height: 75px;
}

.info-contato {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-perfil {
  height: auto;
  display: flex;
  padding-inline: 5px;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.name-perfil span {
  font-size: 1.4rem;
}

.status {
  height: 100%;
  display: flex;
  padding-inline: 5px;
  align-items: end;
  width: 100%;
}

@media (max-width: 1800px) {
  .menu {
    padding-bottom: 10px;
    padding-inline: 5px;
    width: 50%;
  }
  .pesquisa {
    margin-left: 15px;
    padding-right: 5px;
    width: 90%;
  }
  .card .info-contato {
    gap: 0;
  }
}

@media (max-width: 1500px) {
  .menu {
    width: 55%;
  }
  .mensagem {
    text-align: center;
    font-size: 2.8rem;
  }
  .card .info-contato {
    gap: 10px;
  }
  .name {
    font-size: 0.8rem;
  }
  .box-chats {
    font-size: 1.2rem;
  }
}

@media (max-width: 1600px) {
  .card {
    height: 130px;
  }
  .img-perfil img {
    width: 85px;
    height: 85px;
  }
  .status {
    height: auto;
    font-size: 1rem;
  }
}

@media (max-width: 1250px) {
  .name {
    font-size: 0.6rem;
  }
}
